.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-semibold);

  & .title {
    color: #101828;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3; /* 126.667% */
    margin: 24px 0 12px;
  }

  & .subtitle {
    color: var(--primary-text-color);
    text-align: center;
    font-size: var(--font-size-base);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
}

@media (max-width: 993px) {
  .desc {
    & .title {
      font-size: 26px;
    }
    & .subtitle {
      font-size: var(--font-size-small);
    }
  }
}

@media (max-width: 480px) {
  .desc {
    & .title {
      font-size: 24px;
    }

    & .subtitle {
      font-size: var(--font-size-small);
    }
  }
}
